body {
  font-family: 'Poltawski Nowy', serif;
}

.hero-img {
  background-image: url(IMG_2497.jpg);
  height: 75vh;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.cute-img {
  height: 580px;
  width: 360px;
  background-repeat: no-repeat;
  background: url(cutedog.JPG);
  background-position: center;
  background-size: cover;

}

@media (max-width: 768px) {
  .img-cute {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 615px;
  }
}

@media (min-width: 992px) {
  .move {
    transform: translateY(3vh)
  }
}

@media (max-width: 768px) {
  .hide-text {
    display: block;
    visibility: hidden;
  }
}

.around {
  box-shadow: 0px 4px 5px 0px #390040;
}

.blurry-bg {
  background: rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(0, 0, 0, 0.15);
}


/* UTILITIES */

.bg-color {
  background-color: #390040;
}

.dark-text {
  color: #390040
}

.bg-light {
  background-color: #D8A8D7;
}

.light-text {
  color: #9AADBF;
}

.bg-pink {
  background-color: #FE938C;
}

.lower-bg {
  background-color: #8f6c8e;
}

.card-bg {
  background-color: #c69cc4;
}

.justify-content-flex-end {
  justify-content: flex-end;
}